@import '../../_variables';

.task_table {
    background-color: $gray;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: $mulish;

    .task_table_row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
        cursor: pointer;

        .task_table-cell {
            width: 25%;
            padding: 0.5rem 1rem;
            border-bottom: 1px solid rgb(187, 187, 187);
        }
    }
}

.row_one {
    background-color: $medium;
    color: white;
    font-weight: 600;
}