@import '../../_variables';

.home {
    min-height: calc(100vh - 62px);
    background-color: $gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    h2 {
        font-size: 3rem;
        color: $dark;
    }

    p {
        margin: 1rem 0;
        font-weight: 600;
        font-size: 1.1rem;
    }

    .buttons {
        margin: 1rem 0;
        display: flex;
        gap: 1rem;
    }
}