@import '../../_variables';

.Leave {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        width: 100%;
        background-color: $gray;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        .form_row {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 0 auto;

            label {
                font-size: 1rem;
                font-family: $mulish;
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            .checkboxes {
                display: flex;
                gap: 1rem;
                font-size: 1rem;
                font-family: $mulish;

                .checkbox {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 0.6rem;
                }
            }
        }


    }
}