@import url('https://fonts.googleapis.com/css2?family=Alata&family=Mulish:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

// fonts
$alata: 'Alata', sans-serif;
$mulish: 'Mulish', sans-serif;

// colors
$dark: #001b48;
$medium: #02457a;
$normal: #018abe;
$paragraph: #42566A;
$text: rgba(0, 0, 0, 0.7);
$gray: rgb(228, 228, 228);