@import './_variables';

* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $alata;
  color: $dark;
}

p {
  font-family: $mulish;
  font-size: 1rem;
}

a {
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-family: $mulish;
}

li {
  list-style: none;
}

.btn {
  width: 200px;
  background: linear-gradient(to right, #02457a, #018abe);
  border: 2px solid $medium;
  padding: 0.5rem 0;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
}

.btn:hover {
  background: linear-gradient(to right, #018abe, #02457a);
  transition: all 500ms ease-in-out;
}

// Page Title
.title {
  font-size: 2rem;
  font-weight: 500;
  color: $dark;
  margin: 1rem 0;
}

.m1 {
  margin: 1rem 0;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}