@import './_variables';

* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $alata;
  color: $dark;
}

p {
  font-family: $mulish;
  font-size: 1rem;
}

a {
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-family: $mulish;
}

li {
  list-style: none;
}

.btn {
  width: 150px;
  background: linear-gradient(to right, #02457a, #018abe);
  border: 2px solid $medium;
  padding: 0.5rem 0;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  font-family: $mulish;
  color: white;
  transition: all 300ms ease-in;
  transition-delay: 0.1s;
}

.btn_red {
  width: 150px;
  background-color: white;
  border: 2px solid red;
  padding: 0.5rem 0;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  font-family: $mulish;
  color: red;
  transition: all 300ms ease-in;
  transition-delay: 0.1s;
}

.btn:hover {
  background: white;
  color: $medium;
}

.btn_red:hover {
  background-color: red;
  color: white;
}

// Page Title
.title {
  font-size: 2rem;
  font-weight: 500;
  color: $dark;
  margin: 1.5rem 0;
}

.m1 {
  margin: 1rem 0;
}

// page top 
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .buttons {
    display: flex;
    gap: 0.5rem;
  }
}

input,
select {
  padding: 0.3rem;
  font-size: 1rem;
  font-family: $mulish;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}


input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 3px 3px rgba(0, 0, 255, 0.3);
}

input::placeholder {
  color: #999;
  font-style: italic;
}

input[type="checkbox"] {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}

/* Style the checkmark */
input[type="checkbox"]:checked {
  color: #fff;
  background-color: #02457a;
  border-color: $dark;
  box-shadow: 0 0 3px 3px rgba(0, 0, 255, 0.2);
}

// Error
.error {
  position: fixed;
  background-color: red;
  width: 45%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0.1rem 0;

  h3 {
    color: white;
    align-self: center;
    font-weight: 500;
    margin: 0 auto;
  }
}